/* =================================================================
   global styles and resets
   ================================================================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    font-family: 'Roboto', sans-serif;
}

/* =================================================================
   hero section styles
   ================================================================= */

header {
    background-color: #23424A;
    color: #ffffff;
    padding: 15rem 12.5rem;
}

.hero {
    width: 60%;
    max-width: 700px;
}

.hero__title {
    font-size: 4.8rem;
    font-weight: 900;
    padding-bottom: 0.5em;
}

.hero__p {
    font-size: 2.1rem;
    font-weight: 300;
}

.hero__button {
    font-size: 2.1rem;
    font-weight: 700;
    color: #000000;
    background-color: #38CFD9;
    text-transform: uppercase;
    padding: 0.75em 2em;
    border: none;
    border-radius: 100vw;
    margin-top: 3em;
}

/* =================================================================
   main section styles
   ================================================================= */

.row {
    display: flex;
    margin: 0 auto;
    gap: 5rem;
    padding: 8rem;
}

.col {
    text-align: center;
}

.col__header {
    font-size: 3.6rem;
    font-weight: 700;
    color: #87629A;
    padding-bottom: 1em;
}

.col__p {
    font-size: 2.1rem;
    font-weight: 300;
}

/* =================================================================
   main section styles
   ================================================================= */

.row--green {
    background-color: #136C72;
    padding-block: 7.5rem;
    color: white;
}

.col__header--white {
    color: #ffffff;
}